body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 1.6rem;
}

.flex-box{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*-------------- head ------------*/

header{
    height: 3.3rem;
    width: 100%;
   background-color:rgb(167,212,202);
   position:fixed;
   top:0;
}
nav{
    font-family: 'Dosis', sans-serif;
}

nav .flex-box{
    height: 3.3rem;
    justify-content: flex-start;
    align-items: center;
}
.nav-box{
    padding:0 2rem;
}
.nav-box a{
    text-decoration: none;
    color:rgb(105, 107, 114);
    font-size: 1.7rem;
}

/* -------- main ------------- */

#main{
    height: 45rem;
    width: auto;
    background-image: url(./images/aleksandra-boguslawska-MS7KD9Ti7FQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 3.4rem;
    
}

#box{
    /* border: 1px solid pink; */
    height: 80%;
    padding: 10% 10% 0 10% ;
    width: 0 auto ;
    background-color: rgb(234,234,234, .7);
    

}
#box h2{
    margin-top: 0;
    font-size: 4rem;
    font-weight: 5px;
    font-family: 'Poiret One', cursive;
}
p{
    font-weight: 5px;
}
/* --------- Classes ----------- */

#class{
    margin-top: 70px;
    /* background-image: url(./images/jessica-pamp-sGRMspZmfPE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ; */

}
#class h3{
    font-family: 'Dosis', sans-serif;
    /* color:white */
    
}
 tr, td, th{
    border:2px solid  rgb(53,127,114);
    height: 2.5rem;
    width: auto;
    padding: 15px;
    background-color: rgba(236, 223, 223, 0.3);
}
th{
    background-color: rgb(53,127,114);
    color:rgb(229,229,229);

}
table{
    border-spacing: 0;
    margin: 0 auto;
}

/* -------- Events --------------- */

#event .flex-box{
    margin-top: 70px;
    height: 40rem;
    width: auto;
    justify-content: center;
}

.images{
    height: 400px;
    width: fit-content;
    overflow: hidden;
}
.images img{
    height: 100%;
    width: auto;
    display: block;
}
/* -----------location--------- */
#location{
    margin-top: 200px;
}



/* ---------- footer ---------- */
footer{
    margin: 70px;
}