body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 1.6rem;
}

.flex-box{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*-------------- head ------------*/

header{
    height: 3.3rem;
    width: 100%;
   background-color:rgb(167,212,202);
   position:fixed;
   top:0;
}
nav{
    font-family: 'Dosis', sans-serif;
}

nav .flex-box{
    height: 3.3rem;
    justify-content: flex-start;
    align-items: center;
}
.nav-box{
    padding:0 2rem;
}
.nav-box a{
    text-decoration: none;
    color:rgb(105, 107, 114);
    font-size: 1.7rem;
}

/* -------- main ------------- */

#main{
    height: 45rem;
    width: auto;
    background-image: url(./images/aleksandra-boguslawska-MS7KD9Ti7FQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 3.4rem;
    
}

#box{
    /* border: 1px solid pink; */
    height: 80%;
    padding: 10% 10% 0 10% ;
    width: 0 auto ;
    background-color: rgb(234,234,234, .7);
    

}
#box h2{
    font-size: 4rem;
    font-weight: 5px;
    font-family: 'Poiret One', cursive;
}
p{
    font-weight: 5px;
}
/* --------- Classes ----------- */

#class{
    margin-top: 70px;
    border-bottom: 2px solid rgb(53,127,114);
    padding-bottom:70px;

}
#class h3{
    font-family: 'Dosis', sans-serif;
    
    
}
 tr, td, th{
    border:2px solid  rgb(62,147,134);
    height: 1.5rem;
    width: auto;
    padding: 15px;
    background-color: rgba(236, 223, 223, 0.3);
}
th{
    background-color: rgb(62,147,134);
    color:rgb(229,229,229);

}
table{
    border-spacing: 0;
    margin: 0 auto;
}

/* -------- Events --------------- */
#event{
    height: fit-content;
    width: auto;
    margin-top: 70px;
    /* border-bottom:2px solid  rgb(62,147,134); */
    padding-bottom: 70px;

}
#event .flex-box{
    justify-content: center;
}

.images{
    height: 400px;
    width: fit-content;
    overflow: hidden;
}
.images img{
    height: 100%;
    width: auto;
    display: block;
}
/* -----------location--------- */
#location{
    margin-top:10px;
    height:500px;
    width: auto;
    /* border: 5px solid red; */
    
}
#container{
    /* border: 5px solid red; */
    background: url(./images/jessica-pamp-sGRMspZmfPE-unsplash.jpg) no-repeat center/cover;
    background-attachment: fixed; 
    padding: 10px;
    color:rgb(25,40,107);
    height: 90%;
    width: auto;
    padding-top: 30px;
    font-size: 35px;
    font-weight: 10px;
    
}


/* ---------- Phone screen ---------- */

@media only screen and (min-width: 320px) and (max-width:480px), (orientation:portrait){

        header{
           height: 6.5rem;
            
        }
        nav .flex-box{
            height: 6.5rem;
            justify-content: center;
        }
        .nav-box a{
            font-size: 2rem;
        }
    

        /* ------- main ------- */
        #main {
            height: 60rem;
        }
       
         h2{
            font-size: 5rem;
        }
         
             
         tr, td, th, p, h3 {
             font-size: 3rem; 
         }

         .images{
             height: 34rem;
         }
         #location{
             height: max-content;
         }
         #container{
           
            font-size: 2rem;
            color:rgb(67, 68, 70);
            background-color:rgb(167,212,202);
            background-image:none;
            font-weight: bold;
            height:fit-content;
            padding: 30px;
            
         }
}